@import "variable.scss";
@import "~bootstrap-icons/font/bootstrap-icons.css";
@import "~bootstrap/scss/bootstrap";

body {
    background-color: white;
    color: #55505C;
}

.side-menu, .login-image {
    height: 100vh;
}

.main-page {
    height: 100vh;
    overflow: scroll;
}

.img-dashboard {
    display: block;
    margin: 10px auto;
    width: 60px;
    height: 60px;
}
