<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		{# Run `composer require symfony/webpack-encore-bundle`
		           and uncomment the following Encore helpers to start using Symfony UX #}
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

	</head>
	<body>
		<div class="container-fluid">
			<div class="row">
				<div class="login-image col" style="background-image: url('build/images/coast.jpg'); background-position: center;">
				</div>
				<div class="col d-flex flex-column justify-content-center align-items-center">{# contenu #}
					{% block body %}{% endblock %}
				</div>
			</div>

		</div>

			{{ encore_entry_script_tags('app') }}
		{% block javascripts %}
		{% endblock %}
	</body>
</html>

