<form method="post" action="{{ path('applier_delete', {'id': applier.id}) }}" onsubmit="return confirm('Etes-vous sûr de vouloir supprimer cet équipier?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ applier.id) }}">
    <button  class="btn btn-danger">Supprimer</button>
</form>
