{% extends 'base.html.twig' %}

{% block title %}Edit Applier{% endblock %}

{% block body %}
    <h1>Edit Applier</h1>

    {{ include('applier/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('applier_index') }}">back to list</a>

    {{ include('applier/_delete_form.html.twig') }}
{% endblock %}
