{% extends 'base.html.twig' %}

{% block title %}Créer un nouvel équipier
{% endblock %}

{% block body %}
	<div class="px-2">
		<h1 class="mt-2 ms-3">Créer un nouvel équipier</h1>
		<div class="container-fluid">
			<div class="row justify-content-end">
				<a class="col-auto btn btn-secondary my-3 me-4" href="{{ path('app_home') }}">Retour au tableau de bord</a>
				<a class="col-auto btn btn-secondary  my-3 me-4" href="{{ path('applier_index') }}">Retour à la liste</a>
			</div>
			{{ include('applier/_form.html.twig') }}
		</div>
	</div>

{% endblock %}

